body {
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  overflow: hidden;
  padding-bottom: 42vh;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1200px;
}

.header__main-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -22px;
}

.header__main-icon img:nth-child(1) {
  position: relative;
  margin: 14px 0 -8px 0;
}

.header__main-icon img:nth-child(2) {
  position: absolute;
  top: 52px;
}

.header__main-icon img:nth-child(4) {
  position: absolute;
  top: 189px;
}

.header__navbar {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3.6vh;
  max-width: 700px;
}

.header__navbar ul {
  padding: 10px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.7vw;
}

.navbar-item {
  list-style: none;
  padding: 4vh 1.2vw;
  border-radius: 5px;
}

.navbar-item:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #e46107;
}

.navbar-item a {
  font-family: "Conv_NIMBSTB";
  font-size: 19px;
  line-height: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

/* First section!!!!!!!!!!!!!!!! */

.first-section {
  background-image: url(./assets/images/BGImg-first-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-section-title {
  font-family: "Helvetica Neue Cyr";
  font-size: 68px;
  line-height: 60px;
  font-weight: 900;
  text-shadow: 0px 0px 6px rgba(31, 88, 0, 0.75);
  color: #f1f2f5;
  text-align: center;
  width: 62vw;
  margin-top: 307px;
  margin-bottom: 24px;
}

.first-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  min-height: 180px;
  opacity: 0.7;
  background-color: #26311c;
  border-radius: 8px;
  margin-bottom: 200px;
}

.first-section-text div:first-child {
  font-family: "Helvetica Neue Cyr";
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  color: #f1f2f5;
  padding-bottom: 1vw;
}

.first-section-text div:last-child {
  font-family: Arial;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 0 1.8vw 0 3.8vw;
}

/* Second section!!!!!!! */

.second-section {
  background-color: #26311c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7.6vh;
}

.product-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8.8vw;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -13vh;
  gap: 2.3vh;
}

.product-img img {
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.product-title {
  font-family: "Helvetica Neue Cyr";
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  color: #f1f2f5;
  text-align: center;
}

.product-btn {
  width: 168px;
  height: 60px;
  background-color: #26311c;
  border: 2px solid #a1ad97;
  border-radius: 5px;
}

.product-btn input {
  height: inherit;
  width: inherit;
  border: none;
  background: none;
  font-family: "Conv_NIMBSTB";
  font-size: 19px;
  line-height: 40px;
  font-weight: 200;
  color: #ffffff;
}

.product-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid #8dc705;
}

.product-btn:hover input {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #8dc705;
}

/* Third section!!!!!!!! */

.third-section {
  background-image: url(./assets/images/BGImg_third_section.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-container {
  width: 35vw;
  margin-right: 40vw;
  margin-top: 11.7vh;
}

.benefits-title p {
  font-family: "Helvetica Neue Cyr";
  margin: 0;
}

.benefits-title p:first-child {
  font-size: 34px;
  line-height: 53px;
  font-weight: 300;
  color: #000000;
}

.benefits-title p:last-child {
  font-size: 54px;
  font-weight: 700;
  color: #48890a;
  margin-top: -2vh;
  margin-bottom: 2vh;
}

.benefits-text {
  font-family: Arial;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

.benefits-btn {
  width: 168px;
  height: 60px;
  border: 2px solid #48890a;
  border-radius: 8px;
  margin: 3vh 0 15.5vh;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.benefits-btn input {
  height: inherit;
  width: inherit;
  border: none;
  background: none;
  font-family: "Conv_NIMBSTB";
  font-size: 19px;
  line-height: 40px;
  font-weight: 700;
  color: #48890a;
}

.benefits-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #26311c;
}

/* footer!!!!! */

.footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-line,
.second-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-line {
  height: 65px;
  background-color: #e4e4e4;
}

.footer__navbar ul {
  margin: 1.9vh 0 1.9vh -6.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7vw;
}

.footer-navbar-item {
  list-style: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-navbar-item a {
  font-family: "Conv_NIMBSTB";
  font-size: 19px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7b7b7b;
}

.footer-navbar-item:hover a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #8dc705;
}

.foter-second-line-wrapper {
  width: 75vw;
  margin-left: -2vw;
  margin-top: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foter-second-line-wrapper span {
  font-family: Arial;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #919191;
}

@media (max-width: 1100px) {
  .benefits-container {
    margin-top: 5vh;
    width: 55vw;
  }

  .benefits-btn {
    margin: 3vh 0 6vh;
  }
}

@media (max-width: 950px) {
  .product-wrapper {
    gap: 10vw;
  }

  .product-img img {
    width: 20vw;
    height: 20vw;
    border: 4px solid #fff;
  }

  .benefits-container {
    width: 45vw;
    margin-right: 30vw;
    margin-top: 2vh;
  }

  .benefits-title p:first-child {
    font-size: 24px;
    line-height: 53px;
  }

  .benefits-title p:last-child {
    font-size: 40px;
  }

  .benefits-text {
    font-size: 12px;
    line-height: 25px;
  }

  .benefits-btn {
    width: 120px;
    height: 48px;
    margin: 3vh 0 3vh;
  }

  .benefits-btn input {
    font-size: 17px;
    line-height: 35px;
  }
}

@media (max-width: 850px) {
  .navbar-item a {
    font-size: 17px;
  }

  .first-section-title {
    font-size: 60px;
  }

  .product-item {
    margin-bottom: 4.5vh;
  }

  .product-title {
    font-size: 26px;
    line-height: 33px;
  }

  .product-btn {
    width: 138px;
    height: 52px;
  }

  .benefits-container {
    width: 40vw;
  }

  .benefits-title p:first-child {
    font-size: 20px;
    line-height: 33px;
  }

  .benefits-title p:last-child {
    font-size: 34px;
  }

  .benefits-text {
    font-size: 12px;
    line-height: 14px;
  }

  .benefits-btn {
    width: 105px;
    height: 39px;
    margin: 3vh 0 3vh;
  }

  .benefits-btn input {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (max-width: 695px) {
  first-section-text div:first-child {
    font-size: 32px;
    line-height: 37px;
  }

  .first-section-text div:last-child {
    font-size: 13px;
    line-height: 23px;
  }

  .benefits-container {
    width: 76vw;
    margin-right: 0vw;
  }

  .benefits-title p:first-child {
    font-size: 19px;
    line-height: 33px;
  }

  .benefits-title p:last-child {
    font-size: 29px;
    margin-bottom: 0vh;
  }

  .benefits-text {
    background: rgba(255, 255, 255, 0.562);
  }

  .benefits-btn {
    width: 87px;
    height: 37px;
    margin: 2vh 0 2vh;
  }

  .benefits-btn input {
    font-size: 13px;
  }

  .first-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-item {
    margin-top: -6vh;
  }
}

@media (max-width: 515px) {
  .header__navbar ul {
    gap: 10%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .first-section-title {
    font-size: 38px;
    margin-top: 340px;
  }

  .first-section-text div:first-child {
    font-size: 23px;
  }

  .first-section-text div:last-child {
    font-size: 10px;
    line-height: 21px;
  }

  .product-title {
    font-size: 22px;
    line-height: 28px;
  }

  .product-btn {
    width: 119px;
    height: 42px;
  }

  .product-btn input {
    font-size: 15px;
  }

  .third-section {
    background-size: cover;
  }

  .footer__navbar ul {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15%;
  }

  .foter-second-line-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}